@import url(http://fonts.googleapis.com/css?family=Asap:400,700);

body {
    padding-left: 20px;
    font-family: Avenir, Helvetica, sans;
    margin-bottom: 200px
}

h1{
	font-family: 'Asap';
	font-weight: bold;
}

li{
    list-style: none;
}

li label{
    display: inline-block;
    width: 400px;
}

.delete{
    border: none;
    background: none;
    color: red;
    text-decoration: underline;
}

.new-item input {
    font-size: 1.4em;
    padding: 2px;
    width: 587px;
}

h2 {
    width: 420px;
    display: inline-block;
}

.completed li label {
    text-decoration: line-through;
}

.all-completed, .clear-completed{
	width: 170px;
}

h1 {
    display: inline-block;
    background: #F70000;
    color: white;
    padding: 2px 10px;
    letter-spacing: 1px;
    width: 220px;
    text-align: center;
    margin-bottom: 5px;
}

h2.subhead {
    font-size: 1em;
    display: block;
    width: 240px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
    color: black;
}

.main {
    display: inline-block;
    margin-top: 25px;
    width: calc(100% - 400px);
}

header {
    width: 350px; 
    display: inline-block; 
    vertical-align: top;
}

.colophon {
    position: fixed;
    bottom: 0;
    left: calc(50% - 150px);
    font-size: .7em;
    width: 300px;
    text-align: center;
}

.message {
    display: block;
    color: #eee;
}

.hidden {
    display: none;
}

.tiny {
    font-size: .5em;
    vertical-align: top;
}

.settings{
	position: fixed;
	top: 11px;
	right: 24px;
}

.settings-panel {
    width: 300px;
    height: 200px;
    background: white;
    position: fixed;
    z-index: 100;
    top: 30%;
    left: calc(50% - 150px);
    padding: 30px;
    border: 1px solid black;
    box-shadow: 5px 11px 13px #ddd;
}

.close-settings {
    position: absolute;
    top: 20px;
    right: 30px;
    color: red;
    cursor: pointer;
}

#login-buttons {
    position: fixed;
    top: 15px;
    right: 122px;
    min-width: 165px;
}

.login-link-text {
    float: right;
}